version: 2.1
orbs:
  node: circleci/node@3.0.0
  docker: circleci/docker@1.5.0

jobs:
  build-and-push:
    executor: docker/docker
    steps:
      - setup_remote_docker:
          version: 19.03.13
      - checkout
      - docker/check
      - docker/build:
          image: blandy/stonks
          dockerfile: ./docker/prod/Dockerfile
          tag: latest
      - docker/push:
          image: blandy/stonks
          tag: latest
  deploy:
    docker:
      - image: node:14
    steps:
      - run: ssh -oStrictHostKeyChecking=no -v $USER@$IP "~/deploy.sh"

workflows:
  build-test-deploy:
    jobs:
      - node/test
      - build-and-push:
          filters:
            branches:
              only:
                - master
      - deploy:
          requires:
            - build-and-push
          filters:
            branches:
              only:
                - master
